<template>
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Bank</span>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline">
                <button class="btn btn-outline-info my-2 my-sm-0" type="button"  v-on:click="logout()">Logout</button>
            </form>
        </div>
    </nav>
    <br><br>
       <h2>Transactions</h2>
         <table class="table">
           <thead>
             <tr>
               <th>Number</th>
               <th>Amount</th>
               <th>Date</th>
             </tr>
           </thead>
           <tbody>
             <tr v-for="(item, index) in transactions">
               <td>{{ index }}</td>
               <td>{{ item.attributes.amount }}</td>
               <td>{{ item.attributes.date }}</td>
             </tr>
           </tbody>
         </table>
</div>
</template>

<script>
import axios from '../axios'

    export default {
       name: 'Dashboard',
       data() {
           return {
                transactions: null
           }
       },

       mounted() {
           axios
             .get('api/transaction')
             .then(response => {
                this.transactions = response.data
             });
         },

         methods: {

          logout() {
                axios.post('/api/logout').then(() => {
                          localStorage.removeItem('token')
                             this.$router.push('/');
                 }).catch(e => {

                 })
           }
          }
    }
</script>