<template>
   <form class="form-horizontal">
               <div class="row">
                   <div class="col-md-3"></div>
                   <div class="col-md-6">
                       <h2>Please Login</h2>
                       <hr>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-3"></div>
                   <div class="col-md-6">
                       <div class="form-group has-danger">
                           <label class="sr-only" for="email">E-Mail Address</label>
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                               <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                               <input type="text" name="email" class="form-control" v-model="input.username"
                                      placeholder="you@example.com" required autofocus>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-control-feedback">
                           <span class="text-danger align-middle">
                               <i class="fa fa-close"></i> Example error message
                           </span>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-3"></div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label class="sr-only" for="password">Password</label>
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                               <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                               <input type="password" name="password" class="form-control" v-model="input.password"
                                      placeholder="Password" required>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="form-control-feedback">
                           <span class="text-danger align-middle">
                           <!-- Put password error message here -->
                           </span>
                       </div>
                   </div>
               </div>

               <div class="row" style="padding-top: 1rem">
                   <div class="col-md-3"></div>
                   <div class="col-md-6">
                       <button type="button" class="btn btn-success" v-on:click="login()"><i class="fa fa-sign-in"></i> Login</button>
                   </div>
               </div>
           </form>
</template>

<script>
import axios from 'axios';

    export default {
        name: 'Home',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login() {
                if(this.input.username != "" && this.input.password != "") {
                    axios.post('/api/login', {
                        email: this.input.username,
                        password: this.input.password
                    }).then(resp => {
                        localStorage.setItem('token', resp.data.data.attributes.token);
                        this.$router.push('/dashboard');
                    });

                } else {
                    console.log("A username and password must be present");
                }
            }
        }
    }
</script>